@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Josefin+Sans:wght@100;300&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #403e3e;
  --nav-color: #f4f1f1;
  --search-bar-color: #f4f1f1;
  --result-card-color: #efefef;
}

.dark-theme {
  --primary-color: #323339;
  --secondary-color: #fcf4f4;
  --nav-color: #26272b;
  --search-bar-color: #3e4046;
  --result-card-color: #3e3f47;
}

.title {
  font-size: 4em;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.col-lg-7{
  background: var(--result-card-color);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.description {
  padding: 2rem 2rem;
}

.illustration {
  width: 100%;
  margin: 5px auto;
  max-width: 28rem;
  display: block;
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 3em;
  }
}
