@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Josefin+Sans:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Josefin+Sans:wght@100;300&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #403e3e;
  --nav-color: #f4f1f1;
  --search-bar-color: #f4f1f1;
  --result-card-color: #efefef;
}

.dark-theme {
  --primary-color: #323339;
  --secondary-color: #fcf4f4;
  --nav-color: #26272b;
  --search-bar-color: #3e4046;
  --result-card-color: #3e3f47;
}

.title {
    font-size: 4em;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
/* =================================================================== */

.contact {
  position: relative;
  margin: 6rem 8rem;
  padding: 0.4rem;
}
.contact .contact_title {
  margin: 4rem;
  margin-left: 1.5rem;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: var(--secondary-color);
}

.contact .contact_title p{
  font-weight: 100;
}
.contact .contact_title h1 {
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--mainfont);
  color: var(--lightblack);
  letter-spacing: 0.2px;
}
div.contact div.contact_title h2 {
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 300;
  font-family: var(--mainfont);
  color: var(--lightblack);
  margin-top: -30px;
}
div.contact div.contact_form {
  margin: 4rem 0.5rem;
  position: relative;
  background: rgb(247,250,252);
  box-shadow: 0 4px 12px rgba(50, 69, 107, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.col-md-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
div.contact div.contact_form form {
  margin: auto;
  padding: 2rem;
  position: relative;
}
.input_group {
  position: relative;
  margin: 0.5rem auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.input_group label {
  display: inline-block;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Comfortaa", sans-serif;
  color: var(--lightblack);
  letter-spacing: 0.5px;
}
.input_group input,.input_group textarea {
  margin: 0.1rem 0;
  margin-left: 0px;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  background: transparent;
  border: none;
  border-bottom: 2px solid lightgray;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.2s ease;
}
div.contact div.contact_form .follow {
  font-family: "Comfortaa", sans-serif;
  padding: 2rem 4rem;
  position: relative;
  background: rgb(74,144,244);
}
div.contact div.contact_form .follow h3 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(247,250,252);
  letter-spacing: 0.5px;
}
div.contact div.contact_form .follow .contact_link {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
div.contact div.contact_form .follow .contact_link img {
  width: 30px;
}
div.contact div.contact_form .follow .contact_link a span {
  margin: auto 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(247,250,252);
  letter-spacing: 0.5px;
  line-height: 1.5;
}
div.contact div.contact_form .follow .contact_link p {
  color: white;
  margin-left: 45px;
}
div.contact div.contact_form .follow .social_link {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
div.contact div.contact_form .follow .social_link a i {
  margin: auto;
  font-size: 2.5rem;
  color: rgb(247,250,252) !important;
  margin-right: 20px;
}
.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
}
img, svg {
  vertical-align: middle;
}
div.contact div.contact_form form button.btn-submit {
  margin: 1rem 2rem 3rem;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Comfortaa", sans-serif;
  color: rgb(247,250,252);
  background: rgb(74,144,244);
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.vl {
  border-left: 8px solid rgb(74,144,244);
  height: 110px;
  position: absolute;
  top: 70px;
  border-radius: 5px;
}


@media screen and (max-width: 1400px){
  .container2{
    max-width: 1200px;
  }
  .input_group{
    padding: 0.8px;
  }
  .input_group input,.input_group textarea{
    font-size: 1.5rem;
  }
  .contact{
    margin: 4rem 3rem;
  }
  .input_group label{
    font-size: 1.1rem;
  }
  div.contact div.contact_form form button.btn-submit{
    font-size: 1.1rem;
    margin-left: 0rem;
  }
  div.contact div.contact_form .follow h3  {
    font-size: 1.8rem;
  }

}
 @media screen and (max-width: 940px){
  .container2{
    max-width: 1000px;
  }
  div.contact div.contact_form .follow h3 {
    font-size: 2rem;
  }
  div.contact div.contact_form .follow .contact_link a span  {
    font-size: 1rem;
  }
  div.contact div.contact_form .follow .contact_link p{
    font-size: 0.8rem;
  }
  div.contact div.contact_form form button.btn-submit{
    font-size: 0.9rem;
    margin-left: 0rem;
  }
  .input_group label{
    font-size: 1rem;
  }

}
@media screen and (max-width: 600px){
  div.contact div.contact_form .follow .contact_link {
    margin-left: 0;
    padding: 0;
  }
  .col-md-5 .follow{
    margin: 0;
  }
  .contact .contact_title h2{
    font-size: 2.1rem !important;
  }
}



