/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: #f4f1f1;
  --text-color: hsl(38, 8%, 8%);
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: var(--body-font); */
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
}

a {
  text-decoration: none;
  font-family: var(--body-font);
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.main {
  overflow: hidden; /* For the animations ScrollReveal */
}

/*=============== HOME ===============*/
.home {
  background-color: var(--first-color);
  height: 100vh;
  padding-top: 10rem;
}

.home__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5.5rem !important;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home__subtitle{
    font-family: var(--body-font);
}

.home__title {
  font-size: var(--biggest-font-size);
  margin: .75rem 0;
  font-family: var(--body-font);
}

.home__description{
    font-family: var(--body-font);
}

.home__button {
  margin-top: 2rem;
  background-color: var(--text-color);
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
}

.home__button:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
  scale: 1.2;
}

.home__img img {
  width: 300px !important;
  margin-bottom: 2rem !important;
  animation: floaty 1.8s infinite alternate;
}

.home__img {
  justify-self: center;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(37, 22%, 19%, 0.347);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

/*=============== FOOTER ===============*/
.home__footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}

.home__footer span a{
  color: var(--text-color);
  font-size: 1rem;
}

.home__footer span a:hover{
  color:gray;
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

@media screen and (max-width: 700px){

  .home__img img {
    width: 200px !important;
  }

  .home__container {
    padding-bottom: 9rem !important;
  }

}

@media screen and (max-width: 500px){

  .home__img img {
    width: 180px !important;
  }

  .home__title {
    font-size: 2rem;
  }

  .home__description{
    font-size: 13px;
  }

  .home{
    padding-top: 1rem;
  }

  .home__container {
    flex-direction: column-reverse;
    padding-bottom: 7rem !important;
  }

  .home__data {
    padding-top: 3.5rem;
    align-items: center;
  }

  .home__footer span a{
    font-size: 13px;
  }

}