* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fff;
    --secondary-color: #403e3e;
    --nav-color: #f4f1f1;
    --search-bar-color: #f4f1f1;
    --result-card-color: #efefef;
  }
  
  .dark-theme {
    --primary-color: #323339;
    --secondary-color: #fcf4f4;
    --nav-color: #26272b;
    --search-bar-color: #3e4046;
    --result-card-color: #3e3f47;
  }


.container{
    color: var(--secondary-color);
    align-items: center;
    display: flex;
    justify-content: center;
    padding-block: 10px;
}

.container:nth-child(2n){
    flex-direction: row-reverse;

}

.container-img {
    max-width: 678px;
    max-height: 440px;
    width: 50%;
    margin-inline: 40px;
    margin-bottom: 20px
}


.title{
    padding-top: 9rem;
    font-size: 4em;
}

.description {
    max-width: 35rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.description h3 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    color:var(--secondary-color);
    font-family: "Comfortaa", sans-serif;
}

.description p {
  font-weight:400;
  font-family: "Comfortaa", sans-serif;
  color:var(--secondary-color);
  font-size:1.2rem;

}


.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Responsivness part */

@media screen and (max-width:868px) {
    
    header {
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
        width: -webkit-fill-available;
    }

    .container {
        flex-direction: column;
        background-color: transparent;
    }

    .container:nth-child(2n){
        flex-direction: column;
    }

    .description {
        align-items: center;
        text-align: center;
    }
    
}