@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Josefin+Sans:wght@100;300&display=swap");
:root {
    --primary-color: #fff;
    --secondary-color: #403e3e;
    --nav-color: #f4f1f1;
    --search-bar-color: #f4f1f1;
    --result-card-color: #efefef;
    --card-color: rgb(211, 211, 211);
    --card-hover: rgb(190, 190,190);
  }
  
  .dark-theme {
    --primary-color: #323339;
    --secondary-color: #fcf4f4;
    --nav-color: #26272b;
    --search-bar-color: #3e4046;
    --result-card-color: #3e3f47;
    --card-color: #26272b;
    --card-hover: rgb(69, 69, 69);
    
  }
h1{
    padding-top: 5rem;
}


#cardsset{
    padding-inline: 1rem;
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.1rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.profilepic{
    height: 180px;
    border-radius: 100%;
    margin: 2rem;
}

.username{
    font-family: "Comfortaa", cursive;
    font-size: 16px;
    color: var(--secondary-color);
    z-index: 10px;
}

.profilecard{ 
    font-family: "Comfortaa", cursive;
    background-color: var(--card-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 20px 30px  rgba(0,0,0,.2);
  }

.profilecard:hover {
    background-color: var(--card-hover);
    scale: 110%;
    transition-duration:300ms;
}

.details{
    margin-left: -21px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    display: flex;
    gap: 40px;
}

svg{
    fill:var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 10px;
    scale: 120%;
}

svg:hover{
    fill:white;
    background-color: #333;
    scale:140%;
    transition-duration: 300ms;
}