@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Josefin+Sans:wght@100;300&display=swap');

.header {
	margin-top: 4rem;
	text-align: center;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	 -ms-animation: fadein 2s; /* Internet Explorer */
	  -o-animation: fadein 2s; /* Opera < 12.1 */
		 animation: fadein 2s;	
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.illustration {
	width: 20rem;
}

.title {
	font-size: 7em;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	color: #403e3e;
}

.finder {
	font-weight: lighter;
}

.search {
	margin: 0 auto;
	width: 50%;
	font-family: 'Comfortaa', cursive;
}

.results {
	padding: 5% 15% 5% 15%;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 1rem;
	color: #403e3e;
}

.result {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; 
	padding: 2% 0 2%  0;
}
  
.result:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
img {
	margin: 5px auto;
	width: 20%
}

h1 {
	font-family: 'Comfortaa', cursive;
	color: #403e3e;
}